<?xml version='1.0' encoding='utf-8'?>
<server description="Cloud Demo Backend">
	<!-- tag::featureManager[] -->
	<featureManager>
		<feature>jaxrs-2.1</feature>
		<feature>cdi-2.0</feature>
		<feature>mpConfig-1.3</feature>
	</featureManager>
	<!-- end::featureManager[] -->

	<!-- defining logging path -->
	<logging traceSpecification="com.ibm.ws.microprofile.health.*=all"/>

	<!-- tag::httpEndpoint[] -->
	<httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
		id="defaultHttpEndpoint" host="*"/>
	<!-- end::httpEndpoint[] -->

    <!-- tag::webApplication[] -->
  <webApplication location="hello-cloud-demo.war" contextRoot="${app.context.root}"/>
  <!-- end::webApplication[] -->

</server>
